<!DOCTYPE html>
<html>

<head>
    <link rel="sortcut icon" href="/drive/default/__favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/global.css">
    <link media="(max-width:1024px)" rel="stylesheet" href="/static/mobile.css">
    <link rel="stylesheet" href="/static/async.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css" media="print" onload="this.media='all'" /> {heads}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <title>{title}</title>
    <script>
        localStorage.clear = function() {};
    </script>
</head>

<body>
    <div id="app">
        {body}
    </div>


    </script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" async>
    </script>

    <script async src="/static/engine.js"></script>
    <script async src="/static/custom.js"></script>
    {scripts}
    <script async src="/static/hooks.js"></script>
</body>

</html>